.input-box{
    display: block;
    margin-top:20px;
    padding:10px 10px;
    border-radius:5px;
    text-align: center;
    width:200px !important;
}



.submit-login{
    display: block;
    background-color:rgb(24, 167, 24);
    color:white;
    border:none;
    border-radius:5px;
    width:224px;
    padding:10px 10px;
    margin: 20px auto;
    
}


.form-wrapper{
    width:224px;
    margin:100px auto;
}

